.topic {
  position: relative;
  .topicWrap {
    width: 60vw;
    padding: 50px;
    background-color: #fff;
    .markdownBody {
      width: 100%;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow: initial;
      }
    }
  }
  .affixNavbar {
    width: 20vw;
    margin-left: $content-side-margin;
    max-height: 50vh;
  }
}
