.handleComment {
  h2 {
    margin-bottom: 10px;
  }
  .CommentWrap {
    display: flex;
    margin: 10px 0;
    .avatar {
      margin-right: 10px;
    }
    .contentMain {
      flex: 1;
    }
    .username {
      color: $ink;
      .date {
        color: $muted;
        margin-left: 10px;
      }
      .replyAction {
        margin-left: 15px;
        color: $accent;
      }
    }
    .content {
      text-indent: 10px;
      margin: 10px 0;
    }
    .replyWrap {
      .replyItem {
        display: flex;
        margin: 20px 0;
      }
    }
  }

  .replyTarget {
    margin-right: 10px;
    color: $accent;
  }
}
