{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "plugins": ["react-refresh", "import", "prettier"],
  "rules": {
    "eslint-plugin-import/no-unresolved": "error"
  }
}
