.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  .CardWrap {
    width: 400px;
    // padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .title {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }
    .loginForm {
      .ant-form-item {
        margin-bottom: 20px;
      }
      .ant-btn {
        width: 100%;
      }
    }
  }
}
