// 媒体查询变量
$miniScreenSize: 768px;
$mediumScreenSize: 992px;
$maxiScreenSize: 1200px;
$hiddenSomeSize: 960px;

// 颜色变量
$testBgColor: gold;
// 字体变量
$rootFontSize: 16px;

//主题变量
$thumbColor: #001529;
$navColor: #001529;
$navFontColor: #fff;
$footerColor: #060f17;
$footerFontColor: #fff;

$articleCardColor: #001529;
$articleTitleColor: #001529;

//其他变量
$thumbWidth: 8px;
$content-side-margin: 30px;


